body{
    margin:10px 10px 30px 10px;
    background:gray;max-height:400px;
}
p{
    font-size: 13px;
    font-family: arial;
}
.box01{
    background-color:black;
    color:white;
    font-size:20;
    font-family:Times New Roman;
}
.box02{
    background-color:lightgray;
    max-height:500px;
}
.box03{
    background-color:crimson;
    color:black;
    font-size:10;
    font-family:times new roamn;
    min-height:30px;
    margin:18px 0px 0px 0px;
    padding:3px 5px;
}
.box04{
    margin:0px;
    padding:5px 5px 50px 5px;
    background-color:lightcoral;
    max-height:230px;
}
.box05{
    background-color:gray;
    max-height:500px;
}